<div class="text-center">
  <h2>{{title}}{{{get_emoji}}}</h2><p></p>
  <p>{{{body}}}</p>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>

<h3>Comments:</h3>
<ul>
  {{#each comments}}
    <li>
      <p>{{this.comment}}</p>
      <p>Posted by {{this.user.name}} on {{format_date this.date_created}}</p>
    </li>
  {{/each}}
</ul>


  <h3>Leave a Comment:</h3>
  <form id="comment-form" data-postid="{{id}}">
    <div class="form-group">
      <label for="comment-text">Comment:</label>
      <textarea class="form-control" id="comment-text" name="commentText" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <script src="/js/comment.js"></script>
</div>